# === Base de Datos ===
DB_USER=farmarh
DB_PASSWORD=farmarh_secret_2026
DB_NAME=farmarh_db

# === API ===
NODE_ENV=development
JWT_SECRET=farmarh_jwt_secret_cambiar_en_produccion
JWT_EXPIRES_IN=8h

# === Frontend ===
# En desarrollo usa "development", en producción usa "production"
FRONTEND_TARGET=development
